.titulo {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 20px;
}

html,
body {
  margin: 0px;
  background-color: #2f4f30;
  color: white;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#jugador-cartas,
#computadora-cartas {
  height: 240px;
}
